@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-login: #bed9d4;
	--bg-signup: #dabeb0;
	--main-green: #2c5f23;
	--secondary-green: #328524;
	--max-width-xl: 1480px;
	--max-width-lg: 1280px;
	--max-width-md: 980px;
	--max-width-sm: 736px;
	--max-width-xs: 480px;
	--packaged-button: #FDB140;
	--shipping-button: #204700;
	--delivered-button: #319E48;
	--cancelled-button: #ACACAC;
	--pending-button: #E3631B;
	--completed-button: #319E48;
	--font-family: 'Montserrat', sans-serif;
	--waiting-button: #598683;
}

/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1
  }
} */

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif ;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

body .MuiPaper-root.MuiPaper-elevation .MuiPickersLayout-root .MuiPickersLayout-contentWrapper .MuiDateRangeCalendar-root > div:first-child {
	display: none;
}

body::-webkit-scrollbar {
	background: #fff;
	width: 4px;
}

body::-webkit-scrollbar-thumb {
	background-color: #a4c18a;
	border-radius: 6px;
	width: 4px;
}

/* Hide scrollbar for IE and Edge */
.main {
	-ms-overflow-style: none;
	overflow: hidden;
}

.navbar-title span {
	border-bottom: 2px solid black;
}

.df-messenger-wrapper {
	background-color: #7ca05f;
}

.df-messenger-wrapper .title-wrapper {
	background-color: #7ca05f;
}



.df-messenger-wrapper #widgetIcon{
	background-color: #7ca05f;
}