@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-login:#BED9D4 ;
  --bg-signup: #DABEB0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.main {
  -ms-overflow-style: none;
  overflow: unset;
}

.navbar-title span {
  border-bottom: 2px solid black;
}